__pycache__/
*.pyc
.ipynb_checkpoints/

log/
results/
models/

selected_ids.txt
wins.txt
losses.txt
positive_data.csv

*_lda.csv
*_data_labeled.csv
*_training_data.csv
*_model_results.json

emotions_rec/data/*
!emotions_rec/data/.gitkeep
!emotions_rec/data/README.md
!emotions_rec/data/raw/
!emotions_rec/data/raw/.gitkeep
!emotions_rec/data/processed/
!emotions_rec/data/processed/.gitkeep
