__pycache__/
*.pyc
.ipynb_checkpoints/

log/
results/
models/

selected_ids.txt
wins.txt
losses.txt
positive_data.csv

*_lda.csv
*_data_labeled.csv
*_training_data.csv
*_model_results.json

20news_rec_autos/data/*
!20news_rec_autos/data/.gitkeep
!20news_rec_autos/data/README.md
!20news_rec_autos/data/raw/
!20news_rec_autos/data/raw/.gitkeep
!20news_rec_autos/data/processed/
!20news_rec_autos/data/processed/.gitkeep
